@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --PrimaryColor: hsl(225, 50%, 48%);
  --SecondaryColor: hsl(180, 17%, 95%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28, 100%, 82%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 12%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0, 0%, 83%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --transition: .4s ease-in-out;
  --hue: 223;
  --sat1: 10%;
  --sat2: 90%;
  --light-gray1: hsl(var(--hue),var(--sat1),95%);
  --light-gray2: hsl(var(--hue),var(--sat1),90%);
  --light-gray3: hsl(var(--hue),var(--sat1),85%);
  --light-gray4: hsl(var(--hue),var(--sat1),80%);
  --light-gray5: hsl(var(--hue),var(--sat1),75%);
  --light-gray6: hsl(var(--hue),var(--sat1),70%);
  --light-gray7: hsl(var(--hue),var(--sat1),65%);
  --light-gray8: hsl(var(--hue),var(--sat1),60%);
  --light-gray9: hsl(var(--hue),var(--sat1),55%);
  --dark-gray1: hsl(var(--hue),var(--sat1),45%);
  --dark-gray2: hsl(var(--hue),var(--sat1),40%);
  --dark-gray3: hsl(var(--hue),var(--sat1),35%);
  --dark-gray4: hsl(var(--hue),var(--sat1),30%);
  --dark-gray5: hsl(var(--hue),var(--sat1),25%);
  --dark-gray6: hsl(var(--hue),var(--sat1),20%);
  --dark-gray7: hsl(var(--hue),var(--sat1),15%);
  --dark-gray8: hsl(var(--hue),var(--sat1),10%);
  --dark-gray9: hsl(var(--hue),var(--sat1),5%);
  --primary1: hsl(var(--hue),var(--sat2),70%);
  --primary2: hsl(var(--hue),var(--sat2),60%);
  --primary3: hsl(var(--hue),var(--sat2),50%);
  --primary4: hsl(var(--hue),var(--sat2),40%);
  --primary5: hsl(var(--hue),var(--sat2),30%);
  --trans-dur: 0.25s;
}

body {
  background: var(--whiteColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-right: -12px;
  margin-left: -12px;
}

.row--dense {
  margin-right: -4px;
  margin-left: -4px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--PrimaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--whiteColor);
}

a {
  color: var(--whiteColor);
  font-weight: 500;
}

/* .btn:hover{
  background: var(--HoverColor);
}

.btn:hover a{
  color:var(--blackColor);
}  */
img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--greyText);
}

p {
  font-size: 13px;
  color: var(--greyText);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--blackColor);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--blackColor);
}

.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.navBar .navBarOne,
.navBar .navBarTwo {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navBar .navBarOne {
  background: var(--SecondaryColor);
}
.navBar .navBarOne .icon:hover {
  color: var(--PrimaryColor);
}
.navBar .navBarOne .atb {
  gap: 1rem;
}
.navBar .navBarOne .atb span {
  color: var(--blackColor);
  font-size: 13px;
  cursor: pointer;
}
.navBar .navBarOne .atb span:hover {
  color: var(--PrimaryColor);
  font-size: 700;
}
.navBar .navBarTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  padding: 1.5rem 1rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.navBar .navBarTwo .logoDiv .logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .navBar .navBarTwo .navBarMenu {
    position: absolute;
    background: var(--SecondaryColor);
    padding: 1.5rem;
    border-radius: 10px;
    top: 5rem;
    right: -50%;
    width: 80%;
    transform: translateX(50%);
    z-index: 2000;
    box-shadow: var(--boxShadow);
    border: 3px solid var(--whiteColor);
    transition: 0.4s ease-in-out;
  }
  .navBar .navBarTwo .navBarMenu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .navBar .navBarTwo .navBarMenu .menu .listItem {
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--blackColor);
  }
  .navBar .navBarTwo .navBarMenu .menu .listItem:hover {
    color: var(--PrimaryColor);
    font-weight: 700;
  }
  .navBar .navBarTwo .navBarMenu .btnOne {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }
  .navBar .navBarTwo .btnTwo {
    display: none;
  }
}
.navBar .navBarTwo .toggleIcon .icon {
  font-size: 30px;
  color: var(--blackColor);
}
.navBar .navBarTwo .showNavBar {
  right: 50%;
  transition: 0.5s ease-in-out;
}
.navBar .navbar_With_Bg {
  background: var(--SecondaryColor);
  padding: 0.5rem 1rem;
  box-shadow: var(--boxShadow);
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
  background-color: #f2f6f9;
}
.home #idads {
  font-size: 15px;
}
.home .submitSharePixel {
  width: 100%;
  margin: 10px;
}
.home .mainText {
  color: var(--blackColor);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .homeBoxLeftRight {
  display: flex;
  flex-direction: column;
}
.home .homeBoxLeftRight .homeContentLeft {
  flex: 1;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 2rem;
}
.home .homeBoxLeftRight .homeContentLeft .exportExcel {
  background-color: var(--colorOne);
}
.home .homeBoxLeftRight .homeContentLeft textarea {
  border: 1px solid #ccc;
  width: 100%;
}
.home .homeBoxLeftRight .homeContentLeft label {
  display: block;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #333;
  font-family: "Montserrat", sans-serif;
}
.home .homeBoxLeftRight .homeContentLeft #listbmid {
  border: 1px solid #ccc;
  width: 100%;
  height: 48px;
}
.home .homeBoxLeftRight .homeContentRight {
  flex: 1;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 2em;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
.home .homeBoxLeftRight .homeContentRight label {
  font-weight: bold;
  color: #333;
}
.home .homeBoxLeftRight .homeContentRight .homeListCheckboxPixel {
  width: 100%;
}
.home .homeBoxLeftRight .homeContentRight .homeListCheckboxPixel .input-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home .homeBoxLeftRight .homeContentRight .homeListCheckboxPixel .checkbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75em 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.home .homeBoxLeftRight .homeContentRight .homeListCheckboxPixel .checkbox:hover {
  background-color: #f1f1f1;
  border-color: #ccc;
  transform: scale(1.02);
}
.home .homeBoxLeftRight .homeContentRight .homeListCheckboxPixel .checkbox__input {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1em;
  border: 2px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.home .homeBoxLeftRight .homeContentRight .homeListCheckboxPixel .checkbox__input:checked {
  background-color: var(--PrimaryColor);
  border-color: var(--PrimaryColor);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M6 10.6l7-7-1.4-1.4L6 7.8 4.4 6.2 3 7.6l3 3z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
.home .homeBoxLeftRight .homeContentRight .homeListCheckboxPixel .checkbox__label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1rem;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: justify;
}
.home .homeBoxLeftRight .homeContentRight .homeListCheckboxPixel .checkbox__label span {
  margin-top: 10px;
  text-wrap: auto;
}
.home .homehistoryshare {
  width: 100%;
}
.home .homehistoryshare .homehistoryitem {
  height: 100%;
}

.loginpage {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
  background-color: #f2f6f9;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 480px) {
  .home {
    padding-top: 12rem;
  }
  .footer .sectionContainer {
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .sectionContainer .footerLinks {
    justify-content: center;
  }
}
@media screen and (min-width: 570px) {
  .home .mainText {
    width: 80%;
  }
  .home .homeImages .video {
    border-radius: 15rem;
  }
  .home .homeImages .plane {
    position: absolute;
    width: 95%;
    top: -8%;
  }
  .footer .sectionContainer {
    padding-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 680px) {
  .home .mainText {
    width: 80%;
  }
  .footer .sectionContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .navBar {
    align-items: center;
  }
  .navBar .navBarOne .none {
    display: flex;
    gap: 0.5rem;
  }
  .navBar .navBarOne .none li {
    font-size: 13px;
    gap: 0.5rem;
    color: var(--textColor);
  }
  .navBar .navBarOne .none li:hover {
    color: var(--PrimaryColor);
    text-decoration: underline;
  }
  .navBar .navBarTwo {
    justify-content: space-between;
    align-items: center;
  }
  .navBar .navBarTwo .logoDiv .Logo {
    max-width: 20%;
  }
  .navBar .navBarTwo .menu {
    flex-direction: row;
    gap: 0.5rem;
  }
  .navBar .navBarTwo .menu .listItem {
    padding: 0 0.5rem;
    font-size: 14px;
    cursor: pointer;
    color: var(--textColor);
    font-weight: 700;
  }
  .navBar .navBarTwo .menu .listItem:hover {
    color: var(--PrimaryColor);
    font-weight: 700;
  }
  .navBar .navBarTwo .btnOne,
  .navBar .navBarTwo .toggleIcon {
    display: none;
  }
  .search .sectionContainer .btns {
    width: 70%;
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .sectionContainer .searchInputs {
    grid-template-columns: repeat(4, 1fr);
  }
  .search .sectionContainer .searchInputs .singleInput .texts input {
    width: 100%;
  }
  .support .sectionContainer .infoDiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }
  .support .sectionContainer .infoDiv .textDiv {
    margin-top: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .info .infoContainer {
    padding: 0 6rem;
  }
  .info .infoContainer .titleDiv {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .info .infoContainer .cardsDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .info .infoContainer .cardsDiv .singleCard {
    max-width: 260px;
    padding: 3rem 1rem;
  }
  .lounge .sectionContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .sectionContainer .textDiv {
    grid-area: 1;
  }
  .lounge .sectionContainer .textDiv .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .home {
    padding-top: 13rem;
  }
  .home .mainText {
    width: 70%;
    padding-bottom: 1.5rem;
    font-size: 22px;
    line-height: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h2 {
    font-size: 27px;
  }
  .section {
    padding: 6rem 0 4rem;
  }
  .navBar .navBarOne,
  .navBar .navBarTwo {
    padding: 1.5rem 5rem;
  }
  .navBar .navbar_With_Bg {
    padding: 0 5rem;
  }
  .home .mainText {
    width: 60%;
    font-size: 25px;
    line-height: 4rem;
  }
  .home .homeBoxLeftRight {
    flex-direction: row;
    gap: 20px;
  }
}
@media screen and (min-width: 1106px) {
  .subscribe .sectionContainer {
    max-width: 60%;
  }
}
@media screen and (min-width: 1132px) {
  .navBar .navBarTwo .menu {
    gap: 1rem;
  }
  .navBar .navBarTwo .menu .listItem {
    padding: 0 1.5rem;
    font-size: 14px;
  }
  .support .sectionContainer .infoDiv {
    gap: 1rem;
  }
  .support .sectionContainer .infoDiv .textDiv .singleInfo p {
    max-width: 500px;
  }
  .subscribe .sectionContainer {
    max-width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .home .homeImages .plane {
    width: 90%;
    top: -30px;
  }
}
::-moz-selection {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}
::selection {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}

::-webkit-scrollbar {
  width: 10px;
  background: grey;
}

::-webkit-scrollbar-thumb {
  background: var(--PrimaryColor);
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */